{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-lg-9 mb-4">
                <div class="card mb-4">
                    <div class="card-header">User details</div>
                    <div class="card-body">
                        <h2 class="card-title h4">Username: {{ object.username }}</h2>

                        {% if object.full_name %}
                            <p class="card-text">Full name: {{ object.full_name }}</p>
                        {% endif %}

                        <p class="card-text">Email: {{ object.email }}</p>

                        <p class="card-text">Created articles count: {{ object.article_set.all.count }}</p>
                        <p>Go to {{ object.username }} <a
                                href="{% url 'article_list' %}?user={{ object.pk }}">articles</a>
                        </p>


                        <p class="card-text">Comments count: {{ object.comment_set.all.count }}</p>

                        {% if request.user.is_superuser or request.user == object %}
                            <p>
                                <a href="{% url 'user_edit' object.pk %}" class="btn btn-warning">Edit user</a>
                                <a href="{% url 'user_delete' object.pk %}" class="btn btn-danger">Delete user</a>
                            </p>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-4">
                <div class="card mb-4">
                    <div class="card-body">

                        {% if object.profile_image %}
                            <div class="card-img-top">
                                <img src="{{ object.profile_image }}" alt="user profile image">
                            </div>
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/person.png' %}" alt="user profile image">
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}