{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="card mb-4">
            <div class="card-header">User details</div>
            <div class="card-body">

                <form action="{% url 'user_edit' pk=object.pk %}" method="post">

                    {{ form.as_p }}

                    <button class="btn btn-primary">Save</button>
                    {% csrf_token %}

                </form>

            </div>
        </div>
    </div>

{% endblock %}