{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                {% if featured_article %}
                    <div class="card mb-4">
                        <a href="{% url 'article_details' featured_article.pk %}"><img class="card-img-top"
                                                                                       src="{% static 'images/article_image.jpg' %}"
                                                                                       alt="article image"/></a>
                        <div class="card-body">
                            <h2 class="card-title">{{ featured_article.title }}</h2>
                            <div class="small text-muted">Published date: {{ featured_article.created_on }}</div>
                            <div class="small text-muted">Author:
                                <a href="{% url 'user_details' pk=featured_article.user.pk %}">{{ featured_article.user.username }}</a>
                                {{ article.user.full_name }}</div>
                            <p class="card-text">{{ featured_article.text|truncatechars:50 }}</p>
                            <a class="btn btn-secondary" href="{% url 'article_details' featured_article.pk %}">Read
                                more
                                →</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">No articles to display</h2>
                        </div>
                    </div>
                {% endif %}
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-6 mb-4">
                            <!-- Blog post-->
                            {% include 'article/article_card.html' %}
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            <div class="w-100"></div> <!-- Add a clearfix to start a new row -->
                        {% endif %}
                    {% endfor %}
                </div>
                {% if articles %}
                    <p>
                        <a class="btn btn-primary" href="{% url 'article_list' %}">Show all articles →</a>
                    </p>
                {% endif %}

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..."
                                   aria-label="Enter search term..." aria-describedby="button-search"/>
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>

                <!-- Create Article -->
                <div class="card mb-4">
                    <a class="btn btn-primary text-start" href="{% url 'article_create' %}">Create Article →</a>
                </div>

                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                        use,
                        and feature the Bootstrap 5 card component!
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}