{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                {% if featured_article %}
                    <div class="card mb-4">
                        <a href="{% url 'article_details' featured_article.pk %}"><img class="card-img-top"
                                                                                       src="{% static 'images/article_image.jpg' %}"
                                                                                       alt="article image"/></a>
                        <div class="card-body">
                            <h2 class="card-title">{{ featured_article.title }}</h2>
                            <div class="small text-muted">Published date: {{ featured_article.created_on }}</div>
                            <div class="small text-muted">Author:
                                <a href="{% url 'user_details' pk=featured_article.user.pk %}">{{ featured_article.user.username }}</a>
                                {{ article.user.full_name }}</div>
                            <p class="card-text">{{ featured_article.text|truncatechars:50 }}</p>
                            <a class="btn btn-secondary" href="{% url 'article_details' featured_article.pk %}">Read
                                more
                                →</a>
                        </div>
                    </div>
                {% else %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">No articles to display</h2>
                        </div>
                    </div>
                {% endif %}
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    {% for article in articles %}
                        <div class="col-lg-6 mb-4">
                            <!-- Blog post-->
                            {% include 'article/article_card.html' %}
                        </div>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}
                            <div class="w-100"></div> <!-- Add a clearfix to start a new row -->
                        {% endif %}
                    {% endfor %}
                </div>
                {% if articles %}
                    <p>
                        <a class="btn btn-primary" href="{% url 'article_list' %}">Show all articles →</a>
                    </p>
                {% endif %}

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">

                <!-- Search widget-->
                {% include 'common/search_widget.html' %}

                <!-- Create Article -->
                <div class="card mb-4">
                    <a class="btn btn-primary text-start" href="{% url 'article_create' %}">Create Article →</a>
                </div>

                <!-- Categories widget-->
                {% include 'common/categories_widget.html' %}

            </div>
        </div>
    </div>
{% endblock %}