{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">

                <h2 class="card-title h2">{{ article.title }}</h2>
                <div class="small text-muted">Published date: {{ article.created_on }}</div>
                <div class="small text-muted">Author:
                    <a href="{% url 'user_details' pk=article.user.pk %}">{{ article.user.username }}</a>
                    {{ article.user.full_name }}</div>

                <div class="small text-muted">Article rating:
                    {% if article.average_rating == 0 %}
                        Not rated yet
                    {% else %}
                        {{ article.average_rating }}
                    {% endif %}
                </div>

                {% if article.categories.exists %}
                    <div class="small text-muted">Categories:
                        {{ article.categories.all|join:", " }}
                    </div>
                {% endif %}

            </div>

            <div class="card-body">
                <p class="card-text">{{ article.text }}</p>
            </div>

            <div class="card-header">
                {% include 'article/article_rating.html' %}
            </div>

        </div>

        <p></p>
        {% include 'common/comment_list.html' %}
        {% if request.user.is_authenticated %}
            <p></p>
            {% include 'common/comment_create.html' %}
            <p></p>
        {% endif %}

        {% if request.user.is_staff or request.user == article.user %}

            <div>
                <a href="{% url 'article_edit' article.pk %}" class="btn btn-warning">Edit Article</a>
                <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Delete Article</a>
            </div>

        {% endif %}

        <div>
            {% if article.get_previous_by_created_on %}
                <a href="{{ article.get_previous_by_created_on.get_absolute_url }}" class="btn btn-link">Previous
                    Article</a>
            {% endif %}
            {% if article.get_next_by_created_on %}
                <a href="{{ article.get_next_by_created_on.get_absolute_url }}" class="btn btn-link">Next
                    Article</a>
            {% endif %}
        </div>

    </div>

{% endblock %}