{% extends 'base.html' %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header">Filter by category</div>
                    <div class="card-body">
                        <form method="GET" action="{% url 'article_list' %}" class="input-group">
                            {% csrf_token %}
                            {{ category_filter_form.categories }}
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 mb-4">
                {% include 'common/search_widget.html' %}
            </div>
        </div>

        <div class="row">
            {% for article in object_list %}
                <div class="col-lg-6 mb-4">
                    <!-- Blog post-->
                    {% include 'article/article_card.html' %}
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    <div class="w-100"></div> <!-- Add a clearfix to start a new row -->
                {% endif %}
            {% endfor %}
        </div>

        {% include 'common/pagination.html' %}

    </div>

{% endblock %}