{% load static %}

{% if request.user.is_authenticated %}

    <form method="post" action="{% url 'article_rating' pk=article.pk %}" id="ratingForm">
        {% csrf_token %}
        <input type="hidden" name="rating_value" id="ratingValue" value="{{ rating_form.rating.value }}">
        <div class="rating">
            <span class="star" data-star-value="1">&#9733;</span>
            <span class="star" data-star-value="2">&#9733;</span>
            <span class="star" data-star-value="3">&#9733;</span>
            <span class="star" data-star-value="4">&#9733;</span>
            <span class="star" data-star-value="5">&#9733;</span>

            <button type="submit" class="btn  btn-primary">Submit Rating</button>
        </div>
    </form>

    <!-- Include the rating.js file -->
    <script src="{% static 'js/rating.js' %}"></script>

{% endif %}
